.input, .button {
  font-family: 'Skranji', sans-serif;
  font-size: 1.5vw;
  padding: 0.5vw 1vw;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 -2px 2px #000;
  background-color: rgba(255, 255, 255, 0.75);
}

.button {
  background-color: #ECEC7A;
  transition: all 0.25s;
  cursor: pointer;
  box-shadow: 0 -2px 2px #000 inset;
  text-align: center;
  flex: 1 0 auto;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
}

.overlay-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.overlay-buttons {
  display: flex;

  button {
    margin: 1vw;
  }
}

.overlay-info {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  padding: 1vw;
  border-radius: 0.4vw;

  h3 {
    text-align: center;
    border-top: 1px dashed rgba(0, 0, 0, 0.25);
    margin: 1vw 0 0 0;
    padding: 1vw 0 0 0;
  }
}

.overlay-info-image {
  background: url('../images/keyboard.svg');
  border-radius: 0.2vw;
  width: 30vw;
  height: 11vw;
  margin: auto;
  opacity: 0.9;
}

#crosshair {
  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-left: -3px;
  display: block;

  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.75;
  z-index: 2;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}