body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Skranji', sans-serif;
}

#mainmenu {
  background-image: url('../menu.jpg');
  background-size: cover;
  color: #000;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  font-size: 1.5vw;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

#mainmenu > * {
  margin: auto;
}

#mainmenu ul {
  background: url('../blocks/5.png');
  padding: 1vw 1.5vw 1.5vw 1.5vw;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  list-style: none;
}

#mainmenu li {
  padding: 1.5vw;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

#mainmenu input, #mainmenu button {
  font-family: 'Skranji', sans-serif;
  font-size: 1.5vw;
  padding: 0.5vw 1vw;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 -2px 2px #000;
  background-color: rgba(255, 255, 255, 0.75);
}

#mainmenu button {
  background-color: #ECEC7A;
  transition: all 0.25s;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 -2px 2px #000 inset;
  text-align: center;
}

#mainmenu button:hover {
  background-color: #fff;
}

#gui {
  display: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#crosshair {
  width: 4px;
  height: 4px;
  margin-top: -3px;
  margin-left: -3px;
  display: block;

  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.75;
  z-index: 2;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#chat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25vw;
  z-index: 4;
}

#chat-log {
  margin: 0;
  padding: 0.5vw;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

#chat-log li {
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
}

#chat-log li:nth-child(3) {
  opacity: 0.8
}

#chat-log li:nth-child(4) {
  opacity: 0.6
}

#chat-log li:nth-child(5) {
  opacity: 0.4
}

#chat-log li:nth-child(6) {
  opacity: 0.2
}

#chat-log li:nth-child(7) {
  opacity: 0.1
}

#chat-log strong {
  display: block;
  width: 33%;
}

#chat-log span {
  display: block;
  width: 67%;
  overflow-wrap: break-word;
}

#chat-input {
  font-family: 'Skranji', sans-serif;
  box-sizing: border-box;
  padding: 0.5vw;
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
}

#inventory {
  position: absolute;
  z-index: 3;

  bottom: 0;
  width: 100%;
  display: flex;
}

.inventory-row {
  margin: 0 auto;
  padding: 0.25vw;
  display: flex;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px 3px 0 0;
}

.inventory-row li {
  display: flex;
  width: 4vw;
  height: 4vw;
  margin: 0.25vw;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}

.inventory-row li.active {
  background-color: #fff;
}

.inventory-row li span {
  display: none;
  width: 1.5vw;
  height: 1.5vw;
  padding: 0.75vw;
  margin: auto;

  text-align: center;
  border-radius: 2px;

  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6) inset;
}