#mainmenu {
  background-image: url('../menu.jpg');
  background-size: cover;
  color: #000;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  flex-direction: column;
  font-size: 1.5vw;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

#mainmenu > * {
  margin: auto;
}

#mainmenu ul {
  background: url('../blocks/5.png');
  padding: 1vw 1.5vw 1.5vw 1.5vw;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
  list-style: none;
}

#mainmenu li {
  padding: 1.5vw;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

#mainmenu input, #mainmenu button {
  font-family: 'Skranji', sans-serif;
  font-size: 1.5vw;
  padding: 0.5vw 1vw;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 -2px 2px #000;
  background-color: rgba(255, 255, 255, 0.75);
}

#mainmenu button {
  background-color: #ECEC7A;
  transition: all 0.25s;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 -2px 2px #000 inset;
  text-align: center;
}

#mainmenu button:hover {
  background-color: #fff;
}

#mainmenu {
  .warning, .error {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    padding: 2.5vh;
    margin: 0;
  }

  .warning {
    color: #FFE700;
  }
  .error {
    color: #FF1500;
  }
}