#mainmenu ul {
  max-width: 40vw;
}

#mainmenu li {
  padding: 1.5vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
}

button:hover {
  background-color: #fff;
}

#mainmenu {
  .warning, .error {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    padding: 2.5vh;
    margin: 0;
  }

  .warning {
    color: #FFE700;
  }
  .error {
    color: #FF1500;
  }
}